.possibility {
  &__title {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 46px;
    letter-spacing: 0;
    color: $black;
  }
}

.logos {
  background: $gray-mirage;

  &-wrap {
    &:first-child {
      text-align: left;

      @include below($md-max) {
        text-align: center;
      }
    }

    &:last-child {
      text-align: right;

      @include below($md-max) {
        text-align: center;
      }
    }
  }
}