$black: #131D2A;
$white: #F5F5F5;
$gray: #5A697C;
$orange: #FA6F2C;
$blue: #4B83AA;
$gray-mirage: #EEF1F6;
$mystic: #D8DFE8;
$red: #ef6b51;
$grayscale: #8895A5;
$shadow: 0px 25px 50px rgba(0, 58, 90, 0.1);

.c-orange {
  color: $orange;
}

.c-blue {
  color: $blue;
}

.c-black {
  color: $black;
}