<div class="js-cookies js-cookies-block">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-9 col-xl-8">
        <p style="color: white;">Our site uses cookies to optimize content and improve
          platform performance. By continuing using website - you agree that the website
          can set cookies on your browser. For more information please visit the page <a href="/privacy-policy/">privacy policy</a>
        </p>
      </div>
      <div class="col-12 col-md-3 col-xl-4 text-center">
        <a href="/" class="js-cookies-apply p-r-20">Agree</a>
        <a href="/" class="js-cookies-cancel">Reject</a>
      </div>
    </div>
  </div>
</div>