<footer class="footer p-t-70">
  <div class="container footer-top">
    <div class="row justify-content-center">
      <div class="col-lg-3">
        <h3 class="title title_lg m-b-30">Case studies</h3>
        <img class="m-b-30" src="img/infor-footer.png" alt="">
        <p class="title m-b-20">Infor</p>
        <p class="text c-gray m-b-25">Behind the scenes of localization with the leader of the industry</p>
        <div class="more-wrapper d-flex m-b-30">
          <a href="#" class="text f-bold c-black">Read more</a>
          <img class="m-l-10" src="img/arrow-right.png" alt="">
        </div>

      </div>
      <div class="col-lg-3 offset-lg-1">
        <h4 class="title title_md m-b-20">Product</h4>
        <ul>
          <li>
            <a href="#" class="text text_sm c-gray m-b-20">Technical translation</a>
          </li>
          <li>
            <a href="#" class="text text_sm c-gray m-b-20">Software localization</a>
          </li>
          <li>
            <a href="#" class="text text_sm c-gray m-b-20">Marketing translation</a>
          </li>
          <li>
            <a href="#" class="text text_sm c-gray m-b-20">Multimedia localization</a>
          </li>
          <li>
            <a href="#" class="text text_sm c-gray m-b-20">Machine translation</a>
          </li>
          <li>
            <a href="#" class="text text_sm c-gray m-b-20">Managed MT</a>
          </li>
          <li>
            <a href="#" class="text text_sm c-gray m-b-20">Pricing</a>
          </li>
        </ul>
        <div class="d-none d-lg-block m-t-65">
          <h6 class="title title_md m-b-20">Follow</h6>
          <a href="#">
            <img class="m-r-20" src="img/linkedin.png" alt="linkedin">
          </a>
          <a href="#">
            <img src="img/twitter.png" alt="twitter">
          </a>
        </div>
      </div>
      <div class="col-lg-3">
        <h4 class="title title_md m-b-20">Knowledge Center</h4>
        <ul>
          <li>
            <a href="#" class="text text_sm c-gray m-b-20">Technical Translations Insights</a>
          </li>
          <li>
            <a href="#" class="text text_sm c-gray m-b-20">Software Localization Insights</a>
          </li>
          <li>
            <a href="#" class="text text_sm c-gray m-b-20">Marketing Translation Insights</a>
          </li>
          <li>
            <a href="#" class="text text_sm c-gray m-b-20">Multimedia Localization Insights</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-2">
        <h4 class="title title_md m-b-20">About us</h4>
        <ul>
          <li>
            <a href="#" class="text text_sm c-gray m-b-20">Why Milengo</a>
          </li>
          <li>
            <a href="#" class="text text_sm c-gray m-b-20">Mission & Vision</a>
          </li>
          <li>
            <a href="#" class="text text_sm c-gray m-b-20">Company News</a>
          </li>
          <li>
            <a href="#" class="text text_sm c-gray m-b-20">Localization & Contact</a>
          </li>
        </ul>
        <div class="d-sm-block d-lg-none m-t-65">
          <h6 class="title title_md m-b-20">Follow</h6>
          <a href="#">
            <img class="m-r-20" src="img/linkedin.png" alt="linkedin">
          </a>
          <a href="#">
            <img src="img/twitter.png" alt="twitter">
          </a>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="footer-bottom p-t-25 p-b-25">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-xl-6 m-sm-b-30">
          <div class="row">
            <div class="col-sm-6 col-lg-auto text-center">
              <img class="m-b-20" src="img/logo.png" alt="">
            </div>
            <div class="col-sm-6 col-lg">
              <p class="subtitle m-b-20">
                If you are reading our footer you must be bored. Try playing some snake
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-xl-6 offset-lg-0">
          <p class="subtitle m-b-20 text-center text-lg-right" href="#">&copy; 2022 Milengo GmbH</p>
          <div class="d-flex justify-content-center justify-content-lg-end flex-wrap">
            <a class="subtitle m-r-20 m-b-20" href="#">Legal</a>
            <a class="subtitle m-x-20 m-b-20" href="#">Privacy policy</a>
            <a class="subtitle m-x-20 m-b-20" href="#">GDPR</a>
            <a class="subtitle m-l-20 m-b-20" href="#">Customer Log in</a>
          </div>
        </div>
      </div>
    </div>
</footer>