<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="main-title m-t-40">Why Choose Us?</h2>
      <p class="m-b-40">Because our skills and expertise offer high value every step of the way.</p>
    </div>
  </div>

  <div class="row justify-content-center m-b-50">
    <div class="col-md-4 m-b-30">
      <div class="border-check-item">
        <i class="fa fa-check" aria-hidden="true"></i>
        Hundreds of registered and administrated companies globally
      </div>
    </div>

    <div class="col-md-4 m-b-30">
      <div class="border-check-item">
        <i class="fa fa-check" aria-hidden="true"></i>
        Strong executive team
      </div>
    </div>

    <div class="col-md-4 m-b-30">
      <div class="border-check-item">
        <i class="fa fa-check" aria-hidden="true"></i>
        Express company formation
      </div>
    </div>

    <div class="col-md-4 m-b-30">
      <div class="border-check-item">
        <i class="fa fa-check" aria-hidden="true"></i>
        More than 5 years of experience with customers from 43 countries
      </div>
    </div>

    <div class="col-md-4 m-b-30">
      <div class="border-check-item">
        <i class="fa fa-check" aria-hidden="true"></i>
        Competitive price policy
      </div>
    </div>

    <div class="col-md-4 m-b-30">
      <div class="border-check-item">
        <i class="fa fa-check" aria-hidden="true"></i>
        Transparent pricing with no hidden costs
      </div>
    </div>


    <div class="col-md-4 m-b-30">
      <div class="border-check-item">
        <i class="fa fa-check" aria-hidden="true"></i>
        Irish and International business experts
      </div>
    </div>

    <div class="col-md-4 m-b-30">
      <div class="border-check-item">
        <i class="fa fa-check" aria-hidden="true"></i>
        Professional company management instead of a colourful craft lesson
      </div>
    </div>

    <div class="col-md-4 m-b-30">
      <div class="border-check-item">
        <i class="fa fa-check" aria-hidden="true"></i>
        Confidentiality & data protection
      </div>
    </div>

    <div class="col-md-4 m-b-30">
      <div class="border-check-item">
        <i class="fa fa-check" aria-hidden="true"></i>
        24/7 Customer Care support
      </div>
    </div>

    <div class="col-md-4 m-b-30">
      <div class="border-check-item">
        <i class="fa fa-check" aria-hidden="true"></i>
        Helpful secure payment methods (SWIFT, Credit Card, PayPal)
      </div>
    </div>

    <div class="col-md-4 m-b-30">
      <div class="border-check-item">
        <i class="fa fa-check" aria-hidden="true"></i>
        Integrity and due diligence
      </div>
    </div>

    <div class="col-md-4 m-b-30">
      <div class="border-check-item">
        <i class="fa fa-check" aria-hidden="true"></i>
        97% client satisfaction
      </div>
    </div>

    <div class="col-12 text-center">
      <a href="#" class="d-none btn-bordered btn-faq m-t-20">FAQ</a>
    </div>
  </div>
</div>