<!doctype html>
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" lang="en-US" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" lang="en-US" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" lang="en-US" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en-US" prefix="og: http://ogp.me/ns#"> <!--<![endif]-->
<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="css/main.css">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {#  Remove on prod #}
  <meta name="robots" content="noindex" />
  <meta name="robots" content="nofollow" />

  <title>N.Rich landing</title>
  {#  Favicon #}
  <link rel="apple-touch-icon" sizes="180x180" href="">
  <link rel="icon" type="image/png" sizes="32x32" href="">
  <link rel="icon" type="image/png" sizes="16x16" href="">
  <link rel="manifest" href="">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <meta name="description" content="N.Rich landing">
  {#  Set up on prod #}
  <meta name="author" content="N.Rich landing">
  <meta name="image" content="">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="">
  <meta name="twitter:site" content="N.Rich landing">
  <meta name="twitter:image" content="">
  <meta name="og:title" content="">
  <meta name="og:description" content="">
  <meta name="og:image" content="">
  <meta name="og:url" content="">
  <meta name="og:site_name" content="N.Rich landing">
  <meta name="og:type" content="website">
  <meta property="og:locale" content="en_EN" />
  <meta property="og:title" content="">
  <meta property="og:description" content="">
  <meta property="og:image" content="">
  <meta property="og:url" content="">
  <meta property="og:site_name" content="N.Rich landing">
  <meta property="og:type" content="website">
</head>

<body data-template="base.twig">
  {% block header %}
    {% include '../partial/header.twig' %}
  {% endblock %}

  {% block content %}
    Sorry, no content
  {% endblock %}

  {% block footer %}
    {% include '../partial/footer.twig' %}
  {% endblock %}
  <script src="js/app.js"></script>
</body>
</html>
