{% extends "../layout/base.twig" %}

{% block content %}
  <section class="screen">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>asdasdd123123asd</h1>
        </div>
      </div>
    </div>
  </section>
{% endblock %}