{% extends "../layout/base.twig" %}

{% block content %}
  <section class="hero">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="d-flex align-items-center m-b-30">
            <img src="img/icon-pencil.png" alt="">
            <h4 class="title title_sm m-l-15">Localization Managers</h4>
          </div>
          <h1 class="title title_xl m-b-30">Localized software for a better user experience</h1>
          <p class="text text_xl m-b-30">Multilingual software is the fastest route to visibility and success among your
            global user base. Milengo helps you tackle the technical, cultural and linguistic challenges involved
            in making your apps and solutions accessible in every language</p>
          <div class="wrap-btns m-b-20">
            <button class="text text_lg">Schedule a call</button>
            <button class="text text_lg m-l-15">View pricing</button>
          </div>
        </div>
        <div class="col-lg-6">
          <img src="img/hero.png" alt="">
        </div>
      </div>
    </div>
  </section>
{% endblock %}