<div class="card-horizontal m-b-25">
  <div class="card-horizontal-wrapper">
    <div class="card-horizontal-inner d-flex">
      <img class="card-horizontal-inner__img" src="{{ image }}" alt="">
      <p class="title title_sm">{{ text }}</p>
    </div>
    <a href="#" class="subtitle m-l-50">Read more</a>
  </div>
  <div class="card-horizontal_arrow">
    <img src="img/arrow.png" alt="">
  </div>
</div>
