<div class="row justify-content-lg-between m-b-100">
  <div class="col-lg-5 d-flex justify-content-center order-lg-1 order-2">
    <img src="{{ image }}" alt="">
  </div>
  <div class="col-lg-6 d-flex flex-column justify-content-center order-lg-2 order-1">
    <h3 class="title title_lg m-b-20">{{ title }}</h3>
    <p class="text m-b-20">{{ text }}</p>
  </div>
</div>
